h2 {
    text-align: center;
}

#hero {
    min-height: 730px !important;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    text-align: center;
    background: transparent url(../img/bg.jpg) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#hero .brand {
    margin-bottom: 40px;
}

#hero h1 {
    margin-bottom: 30px;
    font-size: 30px;
    text-transform: uppercase;
}

#hero .card {
    margin-bottom: 30px;
}

#hero .sub {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    font-size: 18px;
}

#hero h3 {
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 30px;
}

#hero .logos li {
    margin-bottom: 15px;
}

#about {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #454545;
    font-size: 18px;
    line-height: 30px;
}

#about .row {
    position: relative;
}

#about h2 {
    margin-bottom: 40px;
    color: #3281d2;
    font-size: 30px;
    text-transform: uppercase;
}

#about h3 {
    font-size: 24px;
}

#about p+h3{
    margin-top: 50px;
}

#about .macbook-container {
    padding: 0;
    padding-top: 30px;
}

#about .macbook-container .macbook {
    float: right;
}

#steps {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 33px;
    background-color: #66d9a2;
}

#steps h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

#steps h3 {
    font-size: 24px;
}

#steps .step img {
    margin-top: 50px;
    margin-bottom: 50px;
}

#steps .step p span {
    display: block;
    font-size: 14px;
}

#cta {
    padding-top: 40px;
    padding-bottom: 60px;
    color: #fff;
    text-align: center;
    background-color: #3281d2;
}

#cta h2 {
    margin-bottom: 50px;
    font-size: 30px;
}

#cta .card-container {
    position: relative;
    width: 290px;
    height: 205px;
    margin-left: auto;
    margin-right: auto;
}

#cta .card-container #amount {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 50px;
    height: 30px;
    color: #2274c8;
    font-size: 18px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #959595;
    background-color: transparent;
}

#cta .card-container #amount:focus {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

#cta .card-container #card-text {
    position: absolute;
    bottom: 70px;
    width: 100%;
    color: #000;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

#cta .card-container #card-text .company {
    color: #2e79c7;
}

#cta .btn {
    padding: 12px;
    width: 100%;
    max-width: 290px;
    color: #fff;
    font-size: 18px;
    background-color: #66d9a2;
    border-radius: 0;
}

footer {
    padding-top: 40px;
    padding-bottom: 50px;
    color: #c7c7c7;
    font-size: 12px;
    text-align: center;
    background-color: #353535;
}

footer .brand {
    margin-bottom: 35px;
    opacity: .4;
}

footer a {
    color: #66d9a2;
}

footer .copyrights {
    text-align: center;
    margin-top: 60px;
}

.container {
    width: 100%;
    max-width: 1020px;
}

.table {
    height: 100%;
    display: table;
}

.table .align-middle {
    display: table-cell;
    vertical-align: middle;
}

.table .align-middle {
    display: table-cell;
    vertical-align: bottom;
}

::-webkit-input-placeholder {
    color: #2274c8;
}

:-moz-placeholder {
    color: #2274c8;  
}

::-moz-placeholder {
    color: #2274c8;  
}

:-ms-input-placeholder {  
    color: #2274c8;  
}